<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <section>
      <div class="post">
        <h4><%= title %></h4>
        <h5><%= date %></h5>
        <div><%- html%></div>
      </div>
    </section>
  </body>
</html>
